header {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 5px 0; }
  header a {
    text-align: center;
    margin-left: 50px;
    padding: 20px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    header a:hover {
      color: #567F98; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  text-decoration: none;
  color: #333233; }

.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #FFFFFF; }

section {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 20px 0; }

.title h1 {
  margin-bottom: 5px; }
.title h2 {
  margin-bottom: 10px; }

form {
  width: auto;
  display: inline-block; }
  form input {
    border: none;
    line-height: 24px;
    font-size: 16px;
    padding: 0 12px;
    margin: 0;
    width: 150px;
    border-bottom: 1px solid #567F98;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    form input.button {
      background: #567F98;
      color: #FFFFFF;
      width: auto; }
    form input:focus {
      outline: none; }
    form input.new {
      display: block;
      width: auto;
      margin: 10px auto; }

.search {
  position: relative;
  display: block; }
  .search ::-webkit-input-placeholder {
    color: #fff; }
  .search :-moz-placeholder {
    color: #fff; }
  .search ::-moz-placeholder {
    color: #fff; }
  .search :-ms-input-placeholder {
    color: #fff; }
  .search input {
    width: 200px;
    display: block;
    background: #93B7BE;
    border: none;
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .search input:hover, .search input:focus {
      width: 75%; }
    .search input.go {
      cursor: pointer; }

.list {
  list-style-type: none; }
  .list li {
    position: relative;
    width: 200px;
    height: 50px;
    height: auto;
    margin: 10px auto; }
    .list li a {
      display: block;
      line-height: 50px;
      background: #93B7BE;
      color: #FFFFFF;
      width: 100%;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .list li a.list-item:hover {
        width: 150px; }
    .list li .go {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;
      background: #567F98;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .list li .go:hover + .list-item {
        width: 150px; }
  .list.more-info li a {
    line-height: 30px; }
    .list.more-info li a h5 {
      line-height: 20px;
      font-size: 12px;
      color: #FFFFFF; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

p {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  text-indent: 50px;
  line-height: 24px; }

div.p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px; }
