@mixin transition($seconds) {
    -webkit-transform: translateZ(0);
    -webkit-transition: all $seconds ease;
    -moz-transition: all $seconds ease;
    -ms-transition: all $seconds ease;
    -o-transition: all $seconds ease;
    transition: all $seconds ease;
}

@mixin placeholder($color) {
    ::-webkit-input-placeholder {
        color: $color;
    }
    :-moz-placeholder {
        color: $color;
    }
    ::-moz-placeholder { 
        color: $color;   
    }
    :-ms-input-placeholder {
        color: $color;   
    }
}