*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: $font;
    text-decoration: none;
    color: $grey_d;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background: $white;
}


section {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px 0;
}
.title {
    h1 {
        margin-bottom: 5px;   
    }
    h2 {
        margin-bottom: 10px;   
    }
}

.content {
    
}