form {
    width: auto;
    display: inline-block;
    input {
        border: none;
        line-height: 24px;
        font-size: 16px;
        padding: 0 12px;
        margin: 0;
        width: 150px;
        border-bottom: 1px solid $blue;
        @include transition(0.2s);
        &.button {
            background: $blue;
            color: $white;
            width: auto;
        }
        &:focus {
            outline: none;
        }
        &.new {
            display: block;
            width: auto;
            margin: 10px auto;
        }
    }
}

.search {
    position: relative;
    display: block;
    @include placeholder(#fff);
    input {
        width: 200px;
        display: block;
        background: $blue_l;
        border: none;
        color: $white;
        line-height: 50px;
        text-align: center;
        @include transition(0.3s);
        
        &:hover, &:focus {
            width: 75%;   
        }
        &.go {
            cursor: pointer;
        }
    }
}