header {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 5px 0;
    a {
        text-align: center;
        margin-left: 50px;
        padding: 20px;
        @include transition(0.3s);
        &:hover {
            color: $blue;
        }
    }   
}