.list {
    list-style-type: none;
    li {
        position: relative;
        width: 200px;
        height: 50px;
        height: auto;
        margin: 10px auto;
        a {
            display: block;
            line-height: 50px;
            background: $blue_l;
            color: $white;
            width: 100%;
            @include transition(0.3s);
            &.list-item:hover {
                width: 150px;
            }
        }
        .go {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 50px;
            background: $blue;
            @include transition(0.3s);
            &:hover + .list-item {
                width: 150px;
            }
        }
    }
    &.more-info {
        li {
            a {
                line-height: 30px;
                h5 {
                    line-height: 20px;
                    font-size: 12px;
                    color: $white;
                }
            }
        }
    }
}