h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;   
}
h3 {
    font-size: 20px;   
}
p {
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    text-indent: 50px;
    line-height: 24px;
}
div.p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    line-height: 24px;
}

//@include placeholder (#fff);